body {
  background-image:url('images/glass2.jpg');
  color: #000305;
  font-size: 87.5%;  /* Base font size is 14px */
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link, a:visited {
}
a:hover, a:active{
}
.body {
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainheader img {
  width: 30%;
  height: auto;
  margin: 2% 0;
}

..mainheader nav {
  background-color: pink;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}